# Data Structure Overview

In [1]:
 #data structure is way of organising data so that it can be acessed and manipulated effeciently

# list
#it is an ordered collection of elements that can be of any data type it can be integer,float,string anything
#list is mutable

In [12]:
a=[3,33,35,5,55]
a[3]

5

In [13]:
a[3]=6 #mutability mtlb list ke andr ka content change kr diya

In [14]:
a

[3, 33, 35, 6, 55]

In [15]:
#if i have to add a element i.e object in to the list then i can do this by using append
a.append("hello") #bracket ke andr jo likhenge add ho jayga

In [16]:
a

[3, 33, 35, 6, 55, 'hello']

In [17]:
#to remove a object from list we use remove
a.remove(35)

In [18]:
a

[3, 33, 6, 55, 'hello']

In [19]:
#hm list ke andr vi list daal skte hain
lis=[[1,2,3],[4,5,6],[7,8,9]]
lis

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [20]:
#list ke andr ke list ke elemnt vi apn acess kr skte hain
lis[1][2]  # list ke andr ke second list ke last elemt jo ki 6 hai usko acess kiya

6

# TUPLES

In [1]:
#Tuples are immutable : ye tb use hota hai jb permanent rakhni ho andr ke elements unlike list jisme changes kr skte hain

In [2]:
point=(2,3)
point

(2, 3)

In [4]:
point[1]

3

In [5]:
point[1]=2

TypeError: 'tuple' object does not support item assignment

In [6]:
t=("harshit",1,2,3,4,5,3+3j) #tuple  can also store different data types

In [7]:
t

('harshit', 1, 2, 3, 4, 5, (3+3j))

In [8]:
type(t[6])

complex

In [10]:
box1=("1","2")
box2=("3","4")
print(box1+box2)

('1', '2', '3', '4')

In [12]:
choclate_bag=(box1,box2)
choclate_bag

(('1', '2'), ('3', '4'))

In [16]:
for bag in choclate_bag:
    for choc in bag:
        print(choc)

1
2
3
4

### SETS

In [17]:
#sets are unorders collection of unique elements

In [18]:
s={"red","blue","red"}# ab isme red ek hat jayga kyunki set mai chije repeat nai hoti

In [19]:
s

{'blue', 'red'}

In [20]:
# set jo hai wo unordered hota hai mtlb jruri nai jaise hmne dala hai usme object print waise heen ho

In [21]:
d={"red","blue","green","yellow","purple"}

In [22]:
d

{'blue', 'green', 'purple', 'red', 'yellow'}

In [23]:
#set jo hai usme list and tuple ki trh hm dekh ni skte ek object jaise list[2],tuple[2] krne pr aa jata tha 3rd index ka object isme nai aata hai
#reason hota hai ki set jjo hai unordered way mai print hota hai islea nai aata hai

In [24]:
#to add an object in set (jaise list ke liye append ka use krte hai)
d.add("pwskills")

In [26]:
d  # ab isme upr ka pw skills add ho jayga or jruri nai list mai jaise last mai hota tha yha pr vi waise ho ye unordered hota hai to ski vi print ho jayga

{'blue', 'green', 'purple', 'pwskills', 'red', 'yellow'}

In [28]:
#to remove an object in set 
d.remove("yellow")

In [30]:
d # yellow hat jayga

{'blue', 'green', 'purple', 'pwskills', 'red'}

# DICTIONARY

In [31]:
#INME VI CURLY BRACKET USE HOGA LIKE SET {}
#DICTIONARY STORE THE KEY VALUE PAIR : KEYS WILL BE ALWAYS UNIQUE AND WE CANT CHANGE THE KEYS(IMMUTABLE) BT VALUES CAN BE CHANGED

In [32]:
#How to make key value pair
my_dict={"key_course":"data science","duration":2}

In [33]:
type(my_dict)

dict

In [34]:
phone_book={"harshit":33354679,"anwar":212114545}

In [35]:
type(phone_book)

dict

In [36]:
#how to acess harshit number from the phone_book above (which is a dictionary)
phone_book["harshit"]

33354679

In [38]:
#in dictionary agr koi key 2 baar likh dein to phle wali key overwrite ho jati hai
tele_caller={"rahul":232323,"anshu":121212,"vishal":454545,"rahul":565656} #rahul do baar likha phle wale rahul(key) ki value ab bdl jaygi last wale ki vallue se

In [40]:
tele_caller #rahul do baar likha phle wale rahul(key) ki value ab bdl jaygi last wale ki vallue se

{'rahul': 565656, 'anshu': 121212, 'vishal': 454545}

In [41]:
#agr bs keys dekhni ho kisi dictionary ki to
tele_caller.keys()

dict_keys(['rahul', 'anshu', 'vishal'])

In [42]:
#agr bs values dekhni ho dictionary ki to
tele_caller.values()

dict_values([565656, 121212, 454545])

In [43]:
#to change value of a key
tele_caller["rahul"]="i have changed my number"

In [44]:
tele_caller

{'rahul': 'i have changed my number', 'anshu': 121212, 'vishal': 454545}

# Array

In [45]:
#array ka kam hm numpy mai krenge pr python se thodu sa basic dekh lete hain

In [46]:
#array is almost similar to list

In [54]:
from array import array

In [55]:
a=array("1",[1,2,3,4])

ValueError: bad typecode (must be b, B, u, h, H, i, I, l, L, q, Q, f or d)

In [56]:
a[2]

IndexError: tuple index out of range