In [1]:
#string is a sequence of character
#charactered represented using numerical value
#ASCII(7bits) and UNICODE(16 bits)
#UTF8 and UTF16 are popular encoding schemes

In [3]:
char="A"
ord(char) #ASCII value of A  # ord mtlb order

65

In [5]:
ord("a")

97

In [8]:
chr(101) #101 pr ascii mai kya aata hai

'e'

In [10]:
chr(106)

'j'

In [4]:
#UNICODE representation
"\u03A9"  # omega ka representation

'Ω'

In [5]:
"\u03A6"

'Φ'

In [6]:
chr(320)

'ŀ'

In [8]:
chr(540)

'Ȝ'

In [9]:
chr((973))

'ύ'

In [10]:
string1="pwskills"

In [11]:
type(string1)

str

In [12]:
"""
i am a student
i study at SLIET
I will achive my dreams"""

'\ni am a student\ni study at SLIET\nI will achive my dreams'

In [18]:
#concatenation of strings(jodna strings ko)
string1="hello"
string2=" ji"
string1+" ;"+string2

'hello ; ji'

In [19]:
"string"+"is"+"useful"

'stringisuseful'

In [20]:
#extract a string
string1="i am a good student"
string1[0]

'i'

In [22]:
string1[0:4]  # 0 pr i 1 pr space 2 pr a and 3 pr m

'i am'

In [24]:
string2="pwskills"
string2[1:] #isto ke baad kuch nai dala mtlb apne aap usko pta chal gya last tk jana hai

'wskills'

In [27]:
string2[-1]  # peeche se phla wala word print hoga -1 se and this goes on alg alg negative no. pr

's'

In [28]:
string2[-4]

'i'

In [31]:
#for last three charachters
string2[-3:]

'lls'

In [30]:
#agr meko peeche se character nai chahiye string ke and baki sare chahiye
string2[:-3]

'pwski'

In [36]:
#if i want to acess each of the element to mtlb step 1-1 ka lunga 
string3="Hello World"
string3[0:5:1] #initial kha se:kha tk+1:step size

'Hello'

In [37]:
string3[::1]

'Hello World'

In [38]:
string3[0:5]

'Hello'

In [39]:
#if ii want alternate elements
string3[0:7:2]

'HloW'

In [41]:
#ulta print krna hai
string3[::-1]

'dlroW olleH'

In [44]:
s="pwskills"
s[9]#jo exist nai krta hai usme error aayga

IndexError: string index out of range

In [52]:
#strings are immutable ie koi changes nai kr skte hai

In [53]:
#to check length of string
len(s)

14

In [57]:
s="i am a student"

In [59]:
#we can change a string completely by using replace function
#eg.
s="i am a student"
s.replace("student","teacher")

In [61]:
s

'i am a student'

In [62]:
adress="13 suhana apt,marathali,bangalore" # yha mano ab glti se apt likh  diya o usko apratment pura likhna hai to yha replace kaam aaya

In [63]:
adress.replace("apt","apartment")

'13 suhana apartment,marathali,bangalore'

In [65]:
#agr ek sath bht sari chije string mai change krni ho eg. below
text="brb.ttyl,lol"
text.replace("brb","be rght back").replace("ttyl","talk to you later").replace("lol","laughing out loud")

'be rght back.talk to you later,laughing out loud'

In [66]:
#to convert a string into lower case
text="Hello , World"
text.lower()

'hello , world'

In [68]:
#sb kuch uUPPER CASE mai krne ke liye
text.upper()

'HELLO , WORLD'

In [70]:
#first letter of each word in a string will become capital one
text.title()

'Hello , World'

In [1]:
#agr meko kisi string ke capital ko small and small ko capital krna hoga to will use swap case
string1="This is A String"
string1.swapcase()

'tHIS IS a sTRING'

In [2]:
#sirf first letter ko capital krna hai and rest of the character ko normal small thn use capitalize
string1.capitalize()

'This is a string'

In [5]:
#string searching : meko kuch sub part search krna hai string ka to use hoga
sentence="i am a student at pw skills"
"am" in sentence

True

In [10]:
sentence="i am a student at pw skills"
search_word="am"
if search_word in sentence:
    print("search_word is present")
else:
    print("its not present")

search_word is present

In [13]:
#string comparison :it is very case sensetive 
str1="Hello"
str2="hello"
str1==str2  #false aayga since ek ka h capital ek ka h small

False

In [15]:
str1="Hello"
str2="hello"
str1.lower()==str2 #lower ka use krke capital h ko small kr diya

True

In [16]:
reg_user=["harshit","anwar","user1","user2","user3"]
new_user=input("enter the user registerd id: ")
if new_user in reg_user:
    print("user name alredy taken")
else:
    print("user name is yours")

enter the user registerd id: harshit
user name alredy taken

In [18]:
#string ordering : alphabatical order mai sort ho jaenge dictionary mai jaise hota uske mafik
names=["anwar","anshu","rahul"]
sorted(names)

['anshu', 'anwar', 'rahul']

In [21]:
#common string operations
input_str="                PWSKILLS                " #ab mereko ye string mai se agr spacee hatani ho to strip func. use krunga
input_str.strip() #strip use krte heen space hat jati hai ending or starting ki

#s=" heelo  ji kaise"
#s.strip()   :  output aayga 'heelo  ji kaise'

'heelo  ji kaise'

In [25]:
#string splitting
data="harshit,data,science,ml,teacher"

In [26]:
data

'harshit,data,science,ml,teacher'

In [28]:
s=data.split(",")# har element , se alg kiya hua tha islea split ale bracket mai "," dala now it will seprate all elemnts from ","

In [30]:
s # ab ye ek list ke andr seprated hai and we know ki list mai elements ko kaise alg alg lena hai

['harshit', 'data', 'science', 'ml', 'teacher']

In [32]:
#eg agr alg alg padhna hua to
student_name=s[0]
print(student_name)

harshit

In [37]:
#ESCAPE sequences jaise ki \n,\t,\ ye sb : special combination of characters used within a string     
adress_ghar="""133,
paradise villa,
bangalore"""
print(adress_ghar)

133,
paradise villa,
bangalore

In [38]:
adress_ghar

'133,\nparadise villa,\nbangalore'

In [45]:
adress="""133,\n sunshine villa,\n bangalore""" # \n use krke jb likhunga to meko baar baar enter krke new line jani ke jrurt nai

In [46]:
print(adress)

133,
 sunshine villa,
 bangalore

In [47]:
#to get the string in a table format we use \t and \n togather (\t to get table skelton or spaces and \n to get new line)
table="name age grade alice 20 B Ram 30 A"

In [48]:
table

'name age grade alice 20 B Ram 30 A'

In [54]:
table="name\t age\t grade \nalice\t 20\t B \nRam\t 30\t A"
print(table)

name	 age	 grade
alice	 20	 B
Ram	 30	 A

In [55]:
table

'name\t age\t grade \nalice\t 20\t B \nRam\t 30\t A'

In [56]:
print(table)

name	 age	 grade
alice	 20	 B
Ram	 30	 A

In [58]:
files_path="c:\\USERS\\DOWNLOAD\\Files.txt"  # ye do do baar backward slash use krne ka mtlb hai ki ek apne aap print nai hoga
print(files_path)# single slash lgate upr to error show kr deta islea do do lgay hain

c:\USERS\DOWNLOAD\Files.txt

In [61]:
str1='i cant't believe its a friday'  # ye apne ko error dega print krate heen kyunki cant mai vi single apostrophy use hua or string ko vi single mai rakha hai

SyntaxError: unterminated string literal (detected at line 1) (1464659680.py, line 1)

In [65]:
#to avoid what happend above we can use \'(single quote escape
str1='i can\'t believe its a friday' #cant mai hmne yha pr \' use kiya to error nai aaya
str1

"i can't believe its a friday"

In [70]:
#carriage return \r
t="hello i am harshit,going to delhi"  # now mano meko harshit starting mai chahiye whi se sentence chahiye to mai \r use krunga
print(t)

hello i am harshit,going to delhi

In [69]:
t="hello i am \rharshit,going to delhi"  # now mano meko harshit starting mai chahiye whi se sentence chahiye to mai \r use krunga
print(t)

harshit,going to delhi

In [72]:
#string formatting >>creating string with placeholder for variable
#mtlb string ke kisi part ko baar baar update krna hai meko tb use hoga
username="users"
print("hello users,how are you") # ab mano meko isme users baar baar change krna haai thn use  hogi formatting
#this is done using f string

hello users,how are you

In [75]:
username="users"
print(f"hello {username},how are you") # jo aage f laga usko khte hain f string , ab kinni baar input aayga waisa output

hello users,how are you

In [79]:
#f strings(formatted string literals)
course="PW SKILLS"
duration=3
f"the course is {course} of {duration} hours this makes me excited"  #ye sbkuch print mai daal kr vi kra skte

'the course is PW SKILLS of 3 hours makes me excited'

In [82]:
#ye janna hai ki kisi particular letter se shuru hota hai ya nai thn use startswith()
s1="PWSKILLS"
s1.startswith("q") #false dega kyunkki shuru hota hai p se naki q se

False

In [86]:
#ye janna hai ki kisi particular letter se end hota hai ya nai thn use endswith()
s1="PWSKILLS"
s1.endswith("S") # true dega kyunki capital s se heen end hota hai

True

In [88]:
#pata krna hai ki koi string alpha numeric hai ya nai to
a="hel33"
a.isalnum() #true dega kyunki number or alphabets dono present hai

True

In [90]:
#length ke liye
s="pwskills"
len(s)

8

In [98]:
i=0
count=0
for i in s:
    print(i)
    count=count+1
    print(count)

p
1
w
2
s
3
k
4
i
5
l
6
l
7
s
8

In [99]:
list(range(len(s)))

[0, 1, 2, 3, 4, 5, 6, 7]

In [101]:
for ch in range(len(s)):
    print(s[ch])
    print(ch)

p
0
w
1
s
2
k
3
i
4
l
5
l
6
s
7