In [3]:
T=()
type(T)

tuple

In [4]:
#tuples are immutable unlike list
#tuples are ordered collection of elements, hetrogenous

In [5]:
tuple1=("pwskills",7+3j,True,33,55,3.5,33)
type(tuple1)

tuple

In [6]:
#indexing is available here also
tuple1[0]

'pwskills'

In [7]:
#to count ki tuple ke andr ka element kinni baar repeat hua hai :
tuple1.count(33)

2

In [8]:
#to get the index of an element 
tuple1.index(True) # true 2 index pr hai to output 2 aayga

2

In [9]:
tuple1.index(33) # phla 33 jo hai uski location dega

3

In [10]:
#repeat in tuple
tuple1*2

('pwskills',
 (7+3j),
 True,
 33,
 55,
 3.5,
 33,
 'pwskills',
 (7+3j),
 True,
 33,
 55,
 3.5,
 33)

In [11]:
tuple1[:4]

('pwskills', (7+3j), True, 33)

In [12]:
tuple1[::-1] # reverse mai elements btayga sare peeche se aage tk

(33, 3.5, 55, 33, True, (7+3j), 'pwskills')

In [13]:
tuple1[-1]

33

In [14]:
for i in range(len(tuple1)):
    print(i,tuple1[i])

0 pwskills
1 (7+3j)
2 True
3 33
4 55
5 3.5
6 33

In [15]:


for (element, index) in zip(tuple1, range(len(tuple1))):
    print(element, index)

pwskills 0
(7+3j) 1
True 2
33 3
55 4
3.5 5
33 6

In [16]:
# tuple ke andr ke element kis type ke hain janna hai
for i in tuple1:
    print(i,type(i))

pwskills <class 'str'>
(7+3j) <class 'complex'>
True <class 'bool'>
33 <class 'int'>
55 <class 'int'>
3.5 <class 'float'>
33 <class 'int'>

In [17]:
t1=(1,100,20,53,35)

In [18]:
# to get maximum value of a tuple (here t1)
max(t1)

100

In [19]:
#to get min. value
min(t1)

1

In [20]:
t2=(55.50,30,59)

In [21]:
#making tuples from combination
t3=(t1,t2)

In [22]:
 t3

((1, 100, 20, 53, 35), (55.5, 30, 59))

In [23]:
tuple1

('pwskills', (7+3j), True, 33, 55, 3.5, 33)

In [24]:
#presence of elements
"pwskills" in tuple1

True

In [25]:
"pwskills" not in tuple1

False

# SETS

In [26]:
#sets are collection of unique and unordered elementes
#dont allow duplicate elements ek baar heen rhega ek element

In [27]:
s={}

In [28]:
s

{}

In [29]:
type(s)

dict

In [30]:
s={3,4,5}

In [31]:
type(s)

set

In [50]:
s={1,1,3,4,5,6,6,"ajay","arun","anwar","anwar","Ajay"}
s  # jitni vi values double thi ab ek heen print hongi ajay dobaar aayga kyunki case sensetive hota hai or ek ajay ka a small ek ka capital hai

{1, 3, 4, 5, 6, 'Ajay', 'ajay', 'anwar', 'arun'}

In [51]:
#list se set bnanan
list=[2,3,4,5]
s=set(list)

In [52]:
s

{2, 3, 4, 5}

In [53]:
#set object is not subscriptable mtlb ki indexing yha pr nai ho skti error aayga
s[0]

TypeError: 'set' object is not subscriptable

In [54]:
#set mai indexing ke time error aati hai because it stores value in hash index format
s={1,1,3,4,5,6,6,"ajay","arun","anwar","anwar","Ajay",[1,2,3]} 
# upr wali set error dega because isme list dali hai or koi vi chij jo mutable hai string,list ye sb unka hash nai kr skte

TypeError: unhashable type: 'list'

In [68]:
s={1,1,3,4,5,6,6,"ajay","arun","anwar","anwar","Ajay",(1,2,3)}
#ab ye error nai dega kyunki tupple immutable hai
s

{(1, 2, 3), 1, 3, 4, 5, 6, 'Ajay', 'ajay', 'anwar', 'arun'}

In [69]:
for i in s:
    print(i)

ajay
1
3
4
5
6
arun
(1, 2, 3)
Ajay
anwar

In [70]:
len(s)

10

In [71]:
s.pop() #unlike list jisme last element remove hota tha yha pr koi vi random delete hoga since set is unordered

'ajay'

In [72]:
#agr unordered na krke apne man se ek element hatana hai th use remove
s.remove('Ajay') # mera Ajay hatane ka man tha or hat gya ab

In [73]:
s

{(1, 2, 3), 1, 3, 4, 5, 6, 'anwar', 'arun'}

In [74]:
#ab meko kuch jodna hai set mai to i can use UPDATE pr integer nai jod skte update se
s.update("2")

In [75]:
s

{(1, 2, 3), 1, '2', 3, 4, 5, 6, 'anwar', 'arun'}

In [76]:
#whi agr int jodne ka try krte to
s.update(2) #error aa jani thi

TypeError: 'int' object is not iterable

In [78]:
#set delete krne ke liye we can use del
del s

In [80]:
s # ab s nai aayga erroe aayga

NameError: name 's' is not defined

In [82]:
#ab meko set rakhna hai pr uske andr ke element nai to
s={1,1,3,4,5,6,6,"ajay","arun","anwar","anwar","Ajay"}
s.clear()

In [83]:
s

set()

In [88]:
#koi particular element htane ke liye we can use discard
s={1,1,3,4,5,6,6,"ajay","arun","anwar","anwar","Ajay"}
s.discard(6)

In [89]:
s

{1, 3, 4, 5, 'Ajay', 'ajay', 'anwar', 'arun'}

In [91]:
#diffrence discard and remove ka hai ki:
#mano koi element hai set ke andar nai hai avi or maine remove mai daal diya to error aa jayga pr discard mai nai aayga
s.remove("86") # ye error dega

KeyError: '86'

In [93]:
s={1,1,3,4,5,6,6,"ajay","arun","anwar","anwar","Ajay"}
s.discard("86") # ye koi error nai dega and hence discard meko acha laga

# SET Operations

In [94]:
#UNION:combines elements from 2 sets excluding duplicates
#INTERSECTION:Only common elements between sets
#DIFFRENCE:return the element that is present in first set and not in second
#SYMMETRIC DIFFRENCE:returns elements that are present in either of sets but not in both

In [95]:
s1={"coding","reading","hiking"}
s2={"coding","photography","travelling"}

In [97]:
#lets say i want common from both the sets
#ek purana method yaad krne ke liye neeche wala code likha u can ignore
for i in s1:
    for j in s2:
        if i==j:
            print(i)

coding

In [99]:
#lets say i want common from both the sets:will thn use intersection(&)
s1&s2 #& hai intersection ka sign and hme output coding milega kyunki whi common hai

{'coding'}

In [101]:
#if i want union thn
s1|s2 # chije repeat nai hongi yaad rakhna

{'coding', 'hiking', 'photography', 'reading', 'travelling'}

In [103]:
#diffrence
s1-s2 #jo s1 mai ho pr s2 mai nai

{'hiking', 'reading'}

In [105]:
#symmetric diffrennce(^) : sare elements bs common wale chod kr
s1^s2 # coding nai aayga output mai kyunki wo common hai

{'hiking', 'photography', 'reading', 'travelling'}

In [106]:
#frozen sets:mtlb ek aisa set bnana jisme hm na add kr skein na remove elements ko frozen type
s={1,2,3,4,5}

In [109]:
s.add("2") # ab jaise es s mai to add ho gya pr frozen hota to nai hota

In [110]:
s

{1, 2, '2', 3, 4, 5}

In [111]:
my_frozenset=frozenset([1,2,3,4,5])

In [112]:
my_frozenset

frozenset({1, 2, 3, 4, 5})

In [113]:
type(my_frozenset)

frozenset

In [115]:
my_frozenset.add(5) # error dega kyunki changes nai kr skte frozen set mai

AttributeError: 'frozenset' object has no attribute 'add'

In [117]:
my_frozenset.pop() # error dega kyunki changes nai kr skte frozen set mai

AttributeError: 'frozenset' object has no attribute 'pop'

In [118]:
#bt yes iske elements dekh skte hain hm
#eg
for i in my_frozenset:
    print(i)

1
2
3
4
5