In [1]:
print("hello")

hello

In [2]:
a=5

In [3]:
a

5

In [4]:
a=6 #value changed from 5 to 6

In [5]:
a

6

In [6]:
type(a)

int

In [7]:
b=4.2

In [8]:
b

4.2

In [9]:
type(b)

float

In [10]:
a=False

In [11]:
type(a)

bool

In [12]:
                         #LECTURE 3

In [13]:
d="radhe"             #STRING IS IMMUTABLE MTLB ISKE ANDR CHANGE NAIKR SKTE INDEXING SE JAISE NEECHE MAI LIST MAI KR RHE HAIN

In [14]:
d[2]

'd'

In [15]:
d[0:3]

'rad'

In [16]:
d[-2]

'h'

In [17]:
 #another type of list container
list_container=[1,2,3,"radhe","bharat",3.5,True]

In [18]:
list_container

[1, 2, 3, 'radhe', 'bharat', 3.5, True]

In [19]:
list_container[5]

3.5

In [20]:
list_container[5]="wande"

In [21]:
list_container

[1, 2, 3, 'radhe', 'bharat', 'wande', True]

In [22]:
                              #lecture 4 OPERATORS

In [23]:
#WHAT IS OPERATOR>>>TO PERFORM SPECIFIC OPERATIONS

In [24]:
a=5
b=2

In [25]:
a+b

7

In [26]:
a-b

3

In [27]:
a*b

10

In [28]:
a/b

2.5

In [29]:
#modulous operator
a%b

1

In [30]:
b%a

2

# COMPARISON OPERATOR

In [31]:
2==2 #yha compare ho rha barabr haui ya nai agr nai hoga to false aa jayga

True

In [32]:
4/3 #this is not a comparison operator

1.3333333333333333

In [33]:
4//3 # this is floor operator ye nearest integer value deta hai ye hai comparison operator

1

In [34]:
2!=2 #is not equal to sign is also a comparison operator

False

In [35]:
10>5

True

In [36]:
10<2

False

In [37]:
10>=10

True

# LOGICAL OPERATOR

In [38]:
 #LOGICAL AND
 #logical or
 #logical NOT 
    
# all these are logical operators

In [39]:
True and True   # and table mai 1 and 1 pe 1 aata hai

True

In [40]:
True and False #and table mai ek vi 0 hone pr 0 mtlb false aata hai

False

In [41]:
False and False #and table mai kyunki ek vi 0 rhne pr 0 aata hai to isle yha  0 mtlb false aayga

False

In [42]:
x=True or True
print(x)
y=True or False
print(y)
z=False or False  # jbtk dono 0 nai hota tb tk isme 0 mtlb false nai aata or table mai
print(z)

True
True
False

In [43]:
#Not operator isme jo vi result hota hai uska ulta kr deta hai
not True

False

In [44]:
not False

True



# assignment Operator

In [45]:
a=10 # a mai value asign ki

In [46]:
a

10

In [47]:
a+5 # a mai add kiya

15

In [48]:
a

10

In [49]:
a=a+10 # yha pr hmne value bdl di change krli a ki usme heen operation lga kr

In [50]:
a

20

In [51]:
a+=5 # yha addition ke sath heen value  ki change krdi = lga kr issko vi assignment operator khte hain

In [52]:
a

25

In [53]:
a*2 # yha bs multiply hua a ki value nai change hui no assigned value

50

In [54]:
a*=2 # yha phle 2 se multiply hua fir value vi asign ho gai a ko

In [55]:
a

50

# Membership Operator

In [56]:
# the membership operator helps us to decide if the value is present in sequence or not

In [57]:
#eg
a="PWSKILLS"
"P" in a   # in yha pr check krta hai ki a mai p hai ya nai hua to true wrna false

True

In [58]:
b="I am Harshit"
"am" in b

True

In [59]:
"data" in "PWSKILLS"

False

In [60]:
"data" not in "PWSKILLS"

True

In [61]:
A=["DATA","SCIENTIST","Harshit","Singh"]

In [62]:
"DATA" in A

True

# IDENTITY OPERATOR

In [63]:
#identity operator compares the memory location of two objects isme is, is not ye sb aata hai

In [64]:
a=2

In [65]:
b=3

In [66]:
a is b

False

In [67]:
b is a

False

In [68]:
a="pwskills"

In [69]:
b=a

In [70]:
a is b

True

In [71]:
b is a

True

In [72]:
b

'pwskills'

In [73]:
a="pwskills"
b="data"
a is b

False

In [74]:
a is not b

True

# Bitwise Operator

In [75]:
#it is used to perform operations at bit level

In [76]:
10 & 10    #10 in bitwwise is written as 1010 
 # here & means and operatoor to 1010 and 1010 ko dekhenge ab 
    #1010
    #1010
#    1010 upr ke dono ko and operator se add krein to do 1 means 1 or ek vi 0 ka 0 so 1010 heenn aayga islea 1010 &1010 ka answer 1010 aaya

10

In [77]:
18 & 3

2

In [78]:
18|3  #3 or 5

19

In [79]:
3|5

7

In [80]:
~3  # negotiation wala use krenge to 1 less in - for positive value dega

-4

In [81]:
~5

-6

In [82]:
~-3 # - ve ke sath use krenge to output + ve mai aayga one more -3 ka 2 -4 ka 3

2

In [83]:
#bitwise xor operator it will return 1 when exactly one operand is 1

In [84]:
5 ^ 3   # xor table mai exactly ek input 1 hota hai to output 1 aata hai wrna agr dono 0 ya dono 1 ho to 0 aata hai
#ab binary xor addition krenge 5 ka or 3 ka to aayga 6

6

In [85]:
# shift left and right operators

In [86]:
 #left shift operator
35<<3 # 35 mai left shift kro 3 baar

280

In [87]:
bin(35)

'0b100011'

In [88]:
#ab 35 mai left shift 3 baar ka mtlb hua 100011 ko 100011000 bna dena or es 100011000 ki value hai 280

In [89]:
bin(280)

'0b100011000'

In [90]:
5<<1

10

In [91]:
bin(5)

'0b101'

In [92]:
# 5 ka binary representation hai 101 pr left shift ek baar krna hai to ab binary number aaya apne paas 1010 jo ki 10 ko represent krta

In [93]:
bin(10)

'0b1010'

In [94]:
#right shift operator >>

In [95]:
280>>3

35

In [96]:
bin(280)

'0b100011000'

In [97]:
#in right shift operator jo vi value di hogi jjaise ki yha 3 to utni binary numbers last se remove ho jaenge jaise ki yha pr 100011000 ke last se 000 hata dene hai to hua 100011 jo represent krta hai 35 ko

### order of presedence(python ke calculation ke rules)
#execution will start from left
#if brackets are present thn phle bracket solve hoga

# TYPE CASTING(NEW LECTURE)

In [98]:
#TYPE CONVERSION THE PROCESS OFF CHANGING THE DATA TYPE OF A VALUE OR OBJECT IN PYTHON

In [99]:
A="5"

In [100]:
type(A)

str

In [101]:
# ab is A ko Int. mai convert krne ke liye type conversion ka use hota hai.

In [102]:
#adding strings
"Ram" + "shyam"

'Ramshyam'

In [103]:
2+3.3 #python khud heen smjh gya ki ek integer hai ek float pr usne add kr diya kyunki usne khud se 2 ko float mai convert kr lya

5.3

In [104]:
A+"Shyam" #strings ka addition ho gya

'5Shyam'

In [105]:
 #avi tk upr ke sare implicit conversion ke type the ab explicit type ke bare mai dekhenge

In [106]:
#explicit type mai computer nai convert krta hme heen conveert krna pdta hai type kisi ka using inbuilt function
#float
#int
#string
#bool

In [107]:
x=22.5
y=int(x) #yha float ko hmne int mai convertkr diya

In [108]:
type(y)

int

In [109]:
y

22

In [110]:
s="35"
d=int(s)

In [111]:
d

35

In [112]:
type(d)

int

In [113]:
a="33.5"
c=float(a)

In [114]:
c

33.5

In [115]:
type(c)

float

In [116]:
bool(0)

False

In [117]:
bool(1)

True

In [118]:
bool(False)

False

In [119]:
g="Ram"
d=float(g) #string ke andr ab words honge to we cant convert words to integer or float

ValueError: could not convert string to float: 'Ram'

# Conditional

In [120]:
a=2
if a>100:
    print("hello ji")

In [121]:
weather="rainy"
if weather=="rainy":
    print("i will not play cricket")

i will not play cricket

In [122]:
temp=30
if temp>25:
    print("room temp")

room temp

In [123]:
is_data_science =True
if is_data_science:
    print("i am studying this course")

i am studying this course

In [124]:
is_data_science =False
if is_data_science:
    print("i am not scientist")
else:
    print("i am data scientist")

i am data scientist

In [125]:
x=1
if x>5:
    print("x is greater than 5")
else:
    print("x is less than 5")

x is less than 5

In [126]:
age=20
if age>=21:
    print("allowed")
else:
    print("not allowed")

not allowed

In [127]:
#to check if number is even or odd
x=5
if x%2==0:
    print("even")
else:
    print("odd")

odd

In [128]:
#if-elif-else
a=10
if a>100:
    print("will execute if a > 100")
elif a<100:
    print("will execute if a <100")
else:
    print("if the number is equals to 100") #if a=100 tb hoga ye

will execute if a <100

In [129]:
#if-elif-else
a=100
if a>100:
    print("will execute if a > 100")
elif a<100:
    print("will execute if a <100")
else:
    print("if the number is equals to 100") #if a=100 tb hoga ye

if the number is equals to 100

In [130]:
score=75
if score>=90:
    print("A+")
elif (80<=score<=90):
    print("B+")
else:
    print("Poor")

Poor

In [131]:
#nested if else
x=10
y=5
if x>5:
    if y>5:
        print("both x and y greater than 5")
    else:
        print("x is greater than 5 bt y is not")
else:
    print("x is not greater than 5")

x is greater than 5 bt y is not

In [132]:
#nested if else
x=1
y=5
if x>5:
    if y>5:
        print("both x and y greater than 5")
    else:
        print("x is greater than 5 bt y is not")
else:
    print("x is not greater than 5")

x is not greater than 5

In [133]:
a=int(input("enter a number"))
type(a)

enter a number

ValueError: invalid literal for int() with base 10: ''

In [134]:

if a>100:
    print("wande matram")
else:
    print("jai hind")

jai hind

In [135]:
is_vip=True
if is_vip:
    print("hello ji vip ji")
else:
    print("us line mai lago")

hello ji vip ji

In [136]:
is_vip=True
age=30
if is_vip:
    if age>30:
        print("hello ji vip ji")
    else:
        print("hello bhaiya vip bhaiya")
else:
    print("us line mai lago")

hello bhaiya vip bhaiya

In [137]:
name=input("enter the name")
email=input("enter the email")
password=input("enter the password")

if name =="": #agr naam blank ho to
    print("name cannot be empty")
else:
    if "@" not in email:
        print("invalid email adress")
    else:
        if len(password)<0:
            print("invalid password")
        else:
            print("registratrion succesfull")

enter the name
enter the email
enter the password
name cannot be empty

# LOOP (LECTURE6)

In [138]:
a=5
i=0
while i<a:
    print(i)
    i+=1

0
1
2
3
4

In [139]:
a=5
i=0
while i<a:
    print(i)
    i+=1
else:
    print("this will be executed when the while loop run is completed")

0
1
2
3
4
this will be executed when the while loop run is completed

In [140]:
a=33
i=0
while i<a:
    print(i)
    i+=1
    if i==15:
        break
else:
    print("this will be executed when the while loop run is completed") #ye execute nai hoga kyunki while loop pura nai cghal rha hmne break laga diya hai

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14

In [141]:
#continue is used to skip a particular iteration
n=7
i=0
while i<n:
    i+=1
    if i==4:
        continue #yha pr sirf jb i 4 ke brabr hoga tb print nai hoga wo continue mtlb while mai firse upr se shuru hoga or ab +1 ke baad i=5 ho jayga and ab number print hoga
    print(i)
else:
    print("this ill be run when while loop is run sucessfully") # esbar ye else vi chalega kyunki break nai ho rh code

1
2
3
5
6
7
this ill be run when while loop is run sucessfully

In [142]:
a="Pwskills"
for char in a:
    print(char)

P
w
s
k
i
l
l
s

In [143]:
l=[1,2,5,3,35,53,55,33,"Harshit"]
for i in l:   # yha pr for char in l ya /for y,char ke jgh pr kuch vi likh do fin in l likhne pr same kaam krta hai jo for i ya for char in l kr rhe hain 
    print(i)

1
2
5
3
35
53
55
33
Harshit

In [145]:
g=[1,2,5,3,35,53,55,33,"Harshit"]
for char in g:
    if char==35:
        break
    print(char)
else:
    print("this will execute when for loop ends")

1
2
5
3

In [4]:
range(0,10)
#range(start,end jo likha hai usse ek kam tk jayga,steps kitna lena hai)

range(0, 10)

In [7]:
list(range(0,10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [10]:
#print a right triangle using while loop

In [12]:
row=1
while row<=4:
    col=1
    while col<=row:
        print("*",end="")
        col+=1
    print()
    row+=1

*
**
***
****

In [15]:
for i in range(5):
    print(i)

0
1
2
3
4

In [16]:
for i in range(5):
    print(i,end=" ")

0 1 2 3 4

In [17]:
course=["data sc","ml","stats"]
index=0
while index<len(course):
    print(course[index])
    index+=1

data sc
ml
stats

In [23]:
for i in range(5):
    for j in range(i+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *